html, body {
  margin: 0;
  padding: 0;
}
div.wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top:5px;
  padding: 0;
  text-align: left;
  width:800px;
}
div.Framingham {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 5px;
}
div.questionnaire {
  border: 1px solid black;
}
